In [1]:
import pandas as pd
import re
import numpy as np 
import pymysql

**Charging Data from python to MySQL**

In [2]:

#connection to local server
conexion = pymysql.connect(
   host='localhost',
   database='',
   user='root',
   password='0wG7@kcW'
)
cursor=conexion.cursor()

In [3]:
#Use the database of the movies on SQL 
cursor.execute('use movies_data')

0

In [7]:
#Querys(SQL) to insert the data in the tables of the diferents platforms of movies 
insert_amazon='''
INSERT INTO amazon_prime_titles (show_id, type_, title, director, cast, country, date_added,
release_year, rating, duration, listed_in, description_)
VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
'''
insert_disney='''
INSERT INTO disney_plus_titles (show_id, type_, title, director, cast, country, date_added,
release_year, rating, duration, listed_in, description_)
VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
'''
insert_hulu='''
INSERT INTO hulu_titles (show_id, type_, title, director, cast, country, date_added,
release_year, rating, duration, listed_in, description_)
VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
'''
insert_netflix='''
INSERT INTO netflix_titles (show_id, type_, title, director, cast, country, date_added,
release_year, rating, duration, listed_in, description_)
VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
'''

In [5]:
#Reading data for the diferents platforms of movies with Pandas 
data_amazon=pd.read_csv('Data_movies\\amazon_prime_titles.csv')
data_disney=pd.read_csv('Data_movies\\disney_plus_titles.csv')
data_hulu=pd.read_csv('Data_movies\\hulu_titles.csv')
data_netflix=pd.read_csv('Data_movies\\netflix_titles.csv')

In [6]:
#Replace empty values for the NULL format of SQL

# Replace empty values with NaN
data_amazon.replace('', np.nan, inplace=True)
data_disney.replace('', np.nan, inplace=True)
data_hulu.replace('', np.nan, inplace=True)
data_netflix.replace('', np.nan, inplace=True)

# Replace NaN with NULL
data_amazon.fillna(value='NULL', inplace=True)
data_disney.fillna(value='NULL', inplace=True)
data_hulu.fillna(value='NULL', inplace=True)
data_netflix.fillna(value='NULL', inplace=True)

In [9]:
#Charging data  in csv, to tuples to be load to MySQL 
movies_amazon=[(data_amazon.iloc[i]['show_id'],data_amazon.iloc[i]['type'],data_amazon.iloc[i]['title'],data_amazon.iloc[i]['director'],data_amazon.iloc[i]['cast'],data_amazon.iloc[i]['country'],data_amazon.iloc[i]['date_added'],data_amazon.iloc[i]['release_year'],data_amazon.iloc[i]['rating'],data_amazon.iloc[i]['duration'],data_amazon.iloc[i]['listed_in'],data_amazon.iloc[i]['description']) for i in range (0,len(data_amazon))]
movies_disney=[(data_disney.iloc[i]['show_id'],data_disney.iloc[i]['type'],data_disney.iloc[i]['title'],data_disney.iloc[i]['director'],data_disney.iloc[i]['cast'],data_disney.iloc[i]['country'],data_disney.iloc[i]['date_added'],data_disney.iloc[i]['release_year'],data_disney.iloc[i]['rating'],data_disney.iloc[i]['duration'],data_disney.iloc[i]['listed_in'],data_disney.iloc[i]['description']) for i in range (0,len(data_disney))]
movies_hulu=[(data_hulu.iloc[i]['show_id'],data_hulu.iloc[i]['type'],data_hulu.iloc[i]['title'],data_hulu.iloc[i]['director'],data_hulu.iloc[i]['cast'],data_hulu.iloc[i]['country'],data_hulu.iloc[i]['date_added'],data_hulu.iloc[i]['release_year'],data_hulu.iloc[i]['rating'],data_hulu.iloc[i]['duration'],data_hulu.iloc[i]['listed_in'],data_hulu.iloc[i]['description']) for i in range (0,len(data_hulu))]
movies_netflix=[(data_netflix.iloc[i]['show_id'],data_netflix.iloc[i]['type'],data_netflix.iloc[i]['title'],data_netflix.iloc[i]['director'],data_netflix.iloc[i]['cast'],data_netflix.iloc[i]['country'],data_netflix.iloc[i]['date_added'],data_netflix.iloc[i]['release_year'],data_netflix.iloc[i]['rating'],data_netflix.iloc[i]['duration'],data_netflix.iloc[i]['listed_in'],data_netflix.iloc[i]['description']) for i in range (0,len(data_netflix))]

In [25]:
#Insert data of movies on MySql
cursor.executemany(insert_amazon,movies_amazon)
cursor.executemany(insert_disney,movies_disney)
cursor.executemany(insert_hulu,movies_hulu)
cursor.executemany(insert_netflix,movies_netflix)

8807

In [26]:
conexion.commit()